/**
 * @link https://github.com/yuschick/stylelint-plugin-defensive-css#flex-wrapping
 */
div {
	display: flex;
}

#next {
	display: flex;
	flex-direction: row;
}

#more {
	display: flex;
	flex-flow: row;
}
