/**
 * @link https://github.com/yuschick/stylelint-plugin-defensive-css#accidental-hover
 */
.fail-btn:hover {
	color: #000;
}

@media (min-width: 1px) {
	.fail-btn:hover {
		color: #000;
	}
}

@media (hover: none) {
	div {
		.fail-btn:hover {
			color: #000;
		}
	}
}

@media (hover: hover) {
	.fail-btn:hover {
		color: #000;
	}
}

@media (any-hover: hover) {
	.fail-btn:hover {
		color: #000;
	}
}
